.box{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.box:hover{
    background-color: rgb(127, 165, 255);
}

.box_list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}